name: IaC Terraform
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  CONFIG_DIRECTORY: "./"

jobs:
  # Checkov
  iac-analysis:
    name: "Analyze IaC Infrastructure"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: IaC Checkov Misconfiguration Analysis
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ${{ env.CONFIG_DIRECTORY }}
          framework: terraform

  terraform:
    needs:
      - iac-analysis
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: 'Terraform Init'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'init'
          tf_actions_working_dir: ${{ env.CONFIG_DIRECTORY }}
          tf_actions_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Terraform Plan'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'init'
          tf_actions_working_dir: ${{ env.CONFIG_DIRECTORY }}
          tf_actions_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
